.App {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #f8b195, #f67280, #c06c84, #6c5b7b, #355c7d);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.App-header {
  background: transparent;  /* Transparent to show the gradient */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  margin: 20px 0;
  font-weight: bold;
  color: #fff;
}
